[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/vim-grepper"]
	path = bundle/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule "bundle/vim-tmux-navigator"]
	path = bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/haskell-vim"]
	path = bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "bundle/neomake"]
	path = bundle/neomake
	url = https://github.com/neomake/neomake.git
[submodule "bundle/ghcmod-vim"]
	path = bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/intero-neovim"]
	path = bundle/intero-neovim
	url = https://github.com/parsonsmatt/intero-neovim.git
[submodule "bundle/vim-hsimport"]
	path = bundle/vim-hsimport
	url = https://github.com/dan-t/vim-hsimport.git
[submodule "bundle/vim-hindent"]
	path = bundle/vim-hindent
	url = https://github.com/alx741/vim-hindent.git
[submodule "bundle/vim-stylishask"]
	path = bundle/vim-stylishask
	url = https://github.com/alx741/vim-stylishask.git
[submodule "bundle/deoplete.nvim"]
	path = bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc
[submodule "bundle/deoplete-emoji"]
	path = bundle/deoplete-emoji
	url = https://github.com/fszymanski/deoplete-emoji.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
